/*************************************
	Hero one on Landing Page
*************************************/

.tile-one-backsplash {
   background: #50C9C3 ; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(left top, #50C9C3 , #96DEDA ); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(bottom right, #50C9C3 , #96DEDA ); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(bottom right, #50C9C3 , #96DEDA ); /* For Firefox 3.6 to 15 */
   background: linear-gradient(to bottom right, #50C9C3 , #96DEDA ); /* Standard syntax */
}

.raleway-font {
	font-family: raleway;
}

#navBarTop {
	border-bottom: 2px solid #fff;
}

.nav-bar-links {
	color: #fff !important;
	font-size: 1.2em;
}

.download-button {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}

#download-button-app a {
	color: #fff;
}

#WhiimTag {
	color: #fff;
	font-size: 2.5em;
}

#whiimLogo-top {
	max-width: 70%;
	max-height: auto;
	margin-left: 15%;
}

#inspirational-quote {
	font-size: 4em;
	color: #fff;
	margin-top: 20%;
}

#scroll-below {
	font-size: 1.5em;
	color: #fff;
}

#scroll-below-icon {
	color: #fff;
	text-align: center;
	font-size: 3em;
}

/*************************************
	Hero two on Landing Page
*************************************/

#hero-2-phones {
	max-width: 75%;
	max-height: auto;
	margin-left: 12.5%;
}

#hero-2-info {
	margin-top: 50%;
}

#hero-2-info h1 {
	font-size: 2.1em;
}

#hero-2-info h2 {
	font-size: 1.75em;
}

#hero-2-scroll-icon {
	color: #ff3b3f;
	text-align: center;
	font-size: 3em;
}



.hero-3-background {
	background-image: url('/img/explore-hero.jpg');
}

#hero-3-scroll-icon {
	color: #fff;
	text-align: center;
	font-size: 3em;
}

#hero-3-select-phone {
	max-width: 60%;
	max-height: auto;
	margin-bottom: -9%;
	margin-top: -4%;
}